body {
  background-color: grey;
  display: flex;
  gap: 40px;
  margin: 40px;
}

#board {
  width: 1200px;
  height: 800px;
  background-color: rgba(0, 255, 255, 0.349);
  border-radius: 30px;
  position: relative;
  overflow: hidden; 
}
#landscape{
  width: 1800px;
  height: 400px;
  background-image: url('./assets/17031611.jpeg');
  background-size: contain;
  
  position: absolute;
  z-index: -1;
}

#info {
  background-color: red;
  width: 400px;
  height: 800px;
  min-width: 180px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
}

#playerinfo {
  background-color: blue;
  width: 80%;
  height: 30%;
  border-radius: 10px 100px / 120px;
}

#stageinfo {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 80%;
  height: 50%;
  border-radius: 70px 10px / 120px;
}
#timer{
  display: flex;
  margin-top: 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
}
#player {
  display: inline-block;
  background-color: brown;
  width: 100px;
  height: 200px;
  position: absolute;
}

.obstacle {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: auto;
  background-color: rgb(7, 116, 218);
  position: absolute;
}

.player-movement{
  animation: playerMovement 2s linear;
  animation-iteration-count: infinite;
}

@keyframes playerMovement {
  0%{
    background-color: red;
  }
  25%{
    background-color: violet;
  }
  50%{
    background-color: blue;
  }
  75%{
    background-color: black;
  }
  100%{
    background-color: red;
  }
}