body {
  background-color: grey;
  display: flex;
  gap: 4em;
  margin: 5em;
}

#board {
  width: 1200px;
  height: 800px;
  background-color: aqua;
  min-width: 700px;
  min-height: 400px;
  border-radius: 30px;
  /*   overflow: hidden;
 */
}

#info {
  background-color: red;
  width: 400px;
  height: 800px;
  min-width: 180px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
}

#playerinfo {
  background-color: blue;
  width: 80%;
  height: 30%;
  border-radius: 10px 100px / 120px;
}

#stageinfo {
  background-color: blue;
  width: 80%;
  height: 50%;
  border-radius: 70px 10px / 120px;
}

#player {
  display: inline-block;
  background-color: brown;
  width: 100px;
  height: 200px;
  position: relative;
}

.obstacle {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: rgb(7, 116, 218);
  position: relative;
}
