body {
  background-color: black;
  display: flex;
  gap: 40px;
  margin: 40px;
}

#board {
  width: 1200px;
  height: 800px;
  background-color: rgba(0, 255, 255, 0.349);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
#landscape {
  width: 3600px;
  height: 650px;
  background-image: url("./assets/backgroundFinal.png");
  background-size: 1800px 650px;
  position: absolute;
  z-index: -1;
}

#landscape2 {
  width: 1800px;
  height: 150px;
  background-image: url("./assets/roadFinal.png");
  background-size: cover;
  position: absolute;
  top: 650px;
  z-index: -1;
}

#info {
  background-color: red;
  width: 400px;
  height: 800px;
  min-width: 180px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
}

#playerinfo {
  background-color: blue;
  width: 80%;
  height: 30%;
  border-radius: 10px 100px / 120px;
}

#stageinfo {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 80%;
  height: 50%;
  border-radius: 70px 10px / 120px;
}
#timer {
  display: flex;
  margin-top: 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
}
#player {
  display: inline-block;
  background-image: url('./assets/stand.png');
  width: 100px;
  height: 200px;
  position: absolute;
  background-size: 100px 200px;
  background-repeat: no-repeat;
}
.jump{
  background-image: url('./assets/jump.png');
  background-size: 100px 200px;
  background-repeat: no-repeat;
}
.obstacle {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: auto;
  background-color: rgb(7, 116, 218);
  position: absolute;
}

.player-movement {
  animation: playerMovement .5s linear;
  animation-iteration-count: infinite;
  background-size: 100px 200px;
  background-repeat: no-repeat;
}

@keyframes playerMovement {
  0% {
    background-image: url("./assets/paso1.png");
  }

  35% {
    background-image: url("./assets/otroPaso.png");
  }

  65% {
    background-image: url("./assets/otherStep.png");
  }
  100%{
    background-image: url('./assets/jump.png');
  }
 
}
